@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    font: normal 15pt Arial;
    background-color: #A6170A;
}

header {
    padding: 20px 0px 50px 0px;
    text-align: center;
    font-weight: bolder;
    color: white;
}


section {
    margin: auto;
    text-align: center;
}

.res {
    text-align: start;
    font-size: 15px;
}

.btn1 {
    padding: 20px;
    border-radius: 70px;
    border: none;
    font-weight: bolder;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    color: white;

    animation-name: animacao;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animacao {
    0% {transform: scale(1);}
    100% {transform: scale(1.05);}
}

.btn1:hover {
    transition: 0.5s;
    background-color: rgb(68, 67, 67);
}

.aviso {
    padding: 25px;
    font-size: 15px;
    font-weight: bold;
}


footer {
    padding: 50px;
    text-align: center;
    font-weight: bolder;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    transition: 0.5s;
    color: blueviolet;
}

abbr {
    text-decoration: none;
    cursor: grab;
}